table
  border-collapse collapse
  border solid #e0e0dc
  border-width 1px 0 0 1px
th,
td
  padding 8px 10px
  text-align left
  border solid #E1E1E1
  border-width 0 1px 1px 0

thead
  th
    background #DFDFDF
